header {
    position: sticky;
    height: 85px;
    background-color: #f4faff;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 0 40px;
    align-items: center;

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    font-size: 20px;

}

.static, .interactive{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 25px;

}

.static {
    gap: 10px;
}


.cart a,
.login {
    display: flex;
    align-items: center;
    gap: 6px;   /* espai entre icona i text */
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.cart, .login {
    transition: transform 0.2s;
}

.cart:hover,
.login:hover {
    transform: scale(1.15);
}

.categories {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    justify-items: center;
}

.carta_categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 80%;
    height: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    transition: transform 0.2s, box-shadow 0.2s;
}

.carta_categories img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.carta_categories:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.carta_categories h2 {
    margin: 10px 0 5px 0;
    font-size: 18px;
    color: #333;
}

@media screen and (max-width: 1100px) {
    .categories {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 750px) {
    .categories {
        grid-template-columns: 1fr;
    }
    
}